
/* mobile nav styling */

body { padding-top: 60px; }

@media (min-width: 768px) {
  body { padding-top: 0; }
}

.navbar a.brand img {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.navbar-default {
    background-color: white;
    border-color: #FE625A;
}

.navbar-toggle {
  margin: 10px;
  padding: 10px;
  height: 40px;
}

.navbar-toggle .icon-bar {
  width: 40px;
  height: 3px;
  border-radius: 6px;
  border: 1px solid transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FE625A;
}

.navbar-fixed-top ul.nav {
  margin-top: 0;
  padding: 0 13px;
}
.navbar-fixed-top ul.nav > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #FF4C47;
}

.showtime {
  margin-bottom: 20px;
}

.showtime p.lead {
  margin-bottom: 0;
}

.imgwrap img {
  width: 100%;
  max-width: 100%;
  margin-top: -175px;
}

li.add-top { margin-top: 7px; }
