
header {
  position: relative;
}

header > img.backgroundfill {
  position: relative;
  height: 100%;
  width: auto;
}

header .ontop {
  background: transparent;
  position: absolute;
  bottom: 0;
}

header .ontop img {
  position: relative;
  bottom: 20px;
}

header .ontop .sticky {
  background: white;
  background: rgba(255,255,255,.75);
  position: fixed;
  top: -374px;
  bottom: auto;
  z-index: 999;
}

ul.grid-display .thumb {
  height: 333px;
}

ul.grid-display .thumb .block {
  background: transparent;
}

ul.grid-display .thumb .block > p:first-of-type {
  height: 189px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid;
  margin-bottom:15px;
}

ul.grid-display .thumb .block .info {
  padding: 15px 0;
}

ul.grid-display .thumb .block .info h4 {
  color: #f3421f;
}

