header {
  position: relative;
  height: 500px;
  }
  
header img.backgroundfill {
  display: none;
  position: absolute;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  z-index: -1;
}

footer {
  background-color: #dadada;
  margin-top: 6em;
  min-height: 10em;
  padding-top: 4em;
  padding-bottom: 6em;
}

main article {
  padding: 2em 0;
}

.affix {
  position: fixed;
  top: 20px;
  width: inherit;
  max-width: 165px;
}

nav img {width: 100%;}
img.fpo {width: 100%;}

#intro p.lead {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5;
}

ul.grid-display {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -15px;
  margin-left: -15px;
}

ul.grid-display li {
  list-style: none;
  margin-bottom: 30px;
  position: relative;
}

ul.grid-display .thumb .block {
  background: #eee;
  font-size: 1em;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  height: 190px;
}

ul.grid-display .thumb .block .info {
  background: #FB7571 ;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  height: 50px;
  overflow: hidden;
}

.gallery-info h4,
.gallery-info p,
ul.grid-display .thumb .block .info h4,
ul.grid-display .thumb .block .info p {
  font-size: .9em;
  margin: 0;
  padding: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

.gallery-info h4 {
  color: #FB7571;
}

ul.grid-display .thumb .block .info h4 {
  color: white;
}



