header {
  position: relative;
  height: 500px;
  }
  
header img.backgroundfill {
  position: absolute;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  z-index: -1;
}

footer {
  background-color: #dadada;
  margin-top: 6em;
  min-height: 10em;
  padding-top: 4em;
  padding-bottom: 6em;
}

main article {
  padding: 2em 0;
}

.affix {
  position: fixed;
  top: 20px;
  width: inherit;
  max-width: 165px;
}

nav img {width: 100%;}
img.fpo {width: 100%;}

#intro p.lead {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5;
}
