/* This site uses code from Skeleton V1.2 / Copyright 2011, Dave Gamache / www.getskeleton.com */



/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font-family: 'Calibre', Helvetica, Arial, sans-serif;
    font-weight: 300;
		color: #000;
		size:15px;
		line-height:1.2em;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		margin: 0px auto;
 }
	
	

/* #Font-Face
================================================== */


@font-face {
    font-family: 'Calibre';
    src: url('../type/cal-light.eot');
    src: url('../type/cal-light.eot?#iefix') format('embedded-opentype'),
         url('../type/cal-light.woff') format('woff'),
         url('../type/cal-light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    }
    
    
@font-face {
    font-family: 'Calibre';
    src: url('../type/cal-regular.eot');
    src: url('../type/cal-regular.eot?#iefix') format('embedded-opentype'),
         url('../type/cal-regular.woff') format('woff'),
         url('../type/cal-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }


@font-face {
    font-family: 'Calibre';
    src: url('../type/cal-medium.eot');
    src: url('../type/cal-medium.eot?#iefix') format('embedded-opentype'),
         url('../type/cal-medium.woff') format('woff'),
         url('../type/cal-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }


@font-face {
    font-family: 'Calibre';
    src: url('../type/cal-semibold.eot');
    src: url('../type/cal-semibold.eot?#iefix') format('embedded-opentype'),
         url('../type/cal-semibold.woff') format('woff'),
         url('../type/cal-semibold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }


@font-face {
    font-family: 'Calibre';
    src: url('../type/cal-lightitalic.eot');
    src: url('../type/cal-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../type/cal-lightitalic.woff') format('woff'),
         url('../type/cal-lightitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    }


@font-face {
    font-family: 'Calibre';
    src: url('../type/cal-regularitalic.eot');
    src: url('../type/cal-regularitalic.eot?#iefix') format('embedded-opentype'),
         url('../type/cal-regularitalic.woff') format('woff'),
         url('../type/cal-regularitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    }


@font-face {
    font-family: 'Calibre';
    src: url('../type/cal-mediumitalic.eot');
    src: url('../type/cal-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../type/cal-mediumitalic.woff') format('woff'),
         url('../type/cal-mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    }


@font-face {
    font-family: 'Calibre';
    src: url('../type/cal-semibolditalic.eot');
    src: url('../type/cal-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../type/cal-semibolditalic.woff') format('woff'),
         url('../type/cal-semibolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    }

