/* This site uses code from Skeleton V1.2 / Copyright 2011, Dave Gamache / www.getskeleton.com */


/* #Site Styles
================================================== */

/*.container {background-color: aqua}*/

.hero {
  width:100%;
  margin:0;
  padding:0;
  max-height: 800px;
  overflow: hidden;
  margin: 0px auto;
	}
	
	
.textarea {
  margin:15px 0 30px 0;
  }
	
	
img {
  width: 100%;
  overflow:hidden;
	}
	
	
img.logo {
  width: 100%;
  margin-bottom: 30px;
  }
	
.footer {
  background-color: #dadada;
  margin:0 auto;
  min-height: 200px;
  }
  
.pattern {
  position: absolute;
  top:0;
  left:0;
  z-index: 1000;
  overflow: hidden;
  }

.short {
  visibility: visible;
  } 
  
.tall {
  visibility: hidden;
  }
  
.initialimg {
  position: static; 
  top: 0px; 
  left: 0px; 
  z-index: 100; 
  opacity: 1; 
  /*visibility: hidden; */
  display: block;
  }
  

/* #Typography  */

body {
  font-family: 'Calibre', Helvetica, Arial, sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
	color: #181818;
  font-weight: 700; 
  }
  
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
  font-weight: inherit; 
  }
  
h5 { 
  font-size: 15px; 
  line-height: 120%; 
  margin-bottom: 0px; 
  margin-top: 12px; 
  color: #ff4c3d; 
  }
  
  h6 { 
  font-size: 15px; 
  line-height: 120%; 
  margin-bottom: 0px; 
  margin-top: -5px; 
  color: #ff4c3d; 
  }
  
    h7{ 
  font-size: 15px; 
  line-height: 120%; 
  margin-bottom: 0px; 
  color: black;   
  font-weight: 700;
  }

.dates li  { 
    font-weight: 300;
    font-size: 15px;
    line-height: 110%;
    margin-bottom: 4px;
    }

p {margin: 0 0 20px 0; }  
	
.bigtext {
  color: #000;
  font-weight: 500;
  font-size:50px;
  line-height: 120%;
  margin-top:6px;
  margin-right: 24px;
  }

.footertext {
  color: #000;
  font-weight: 500;
  font-size:12px;
  line-height: 120%;
  }
  

@media only screen and (max-width: 1024px) {
    
.bigtext {
  font-size:50px;
  margin-right: 0;
  }
  
.textarea.row {
  padding-top:5px;
  }  
  
#large-slideshow {
  width: 140%;
  margin-left: -20%;
  overflow:hidden;
  }  
  
.pattern {
  width: 140%;
  margin-left: -20%;
  } 
  
.short {
  visibility: hidden;
  } 
  
.tall {
  visibility: visible;
  }
  
}

@media only screen and (max-width: 767px) {

.dates li  { 
  margin-bottom: 2px;
  } 
 
.bigtext {
  font-size:38px;
  }
  
img.logo {
  max-width: 200px;  
  margin-bottom: 30px;
  }

#large-slideshow {
  width: 180%;
  margin-left: -40%;
  overflow:hidden;
  } 
  
.pattern {
  width: 180%;
  margin-left: -40%;
  }
  
  
}

@media only screen and (max-width: 640px) {
 
.bigtext {
  font-size:26px;
  }
  

  
}

